body, html {
    height: 162%;
    margin: 0;
    font-family: 'Arvo', serif;
    font-weight: 300;
}

.content {
    min-height: 100%;
}

.content-inside {
    padding: 20px;
    padding-bottom: 125px;
}

h1 {
    font-family: 'Arvo', serif;
    font-weight: 700 !important;
    font-size: 62px !important;
}

h5 {
    font-weight: lighter;
    font-size: 16px;
    text-transform: uppercase;
    color: rgb(114, 112, 112);
}

.jumbotron {
    background: darkcyan;
    color: white;
    border-radius: 0px;
    padding-bottom: 10px;
}

a {
    color: #ff6c37;
}

.card {
    margin-bottom: 30px;
    border-color: lightgray;
    min-height: 350px;
}

.card-header {
    background-color: rgb(206, 221, 230);
    color: rgb(41,70,81);
    border-bottom: none;
}

hr.lightest{
    background-color: #ff6c374d;
    margin-bottom: 0px;
}

hr.medium{
    background-color: #ff6c377e;
    margin-bottom: 0px;
}

hr.darkest{
    background-color: #ff6c37;
    margin-bottom: 0px;
}

i {
    color: #ff6c37;
}

.here-btn {
    color: #ff6c37;
    border: 1px solid #ff6c37;
    border-radius: 25px;
    padding: 10px 25px 10px 25px;
    margin-left: 5px;
    font-size: 12px;
}

.here-btn:hover {
    background-color: #ff6c37;
    color: white;
    border: none;
}

.info-type {
    font-weight: bold;
}

@media only screen and (min-width: 768px) {
    body, html {
        height: 125%;
    }
}
