<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>My Team</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../assets/css/style.css">
    <script src="https://kit.fontawesome.com/c502137733.js"></script>
    <link
        href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Roboto:wght@100;300;400;500;700;900&family=Baloo+Bhaina+2:wght@400;500;600;700;800&display=swap"
        rel="stylesheet">

</head>

<body>
    <div class="content">
        <div class="content-inside">
            <div class="jumbotron">
                <div class="container">
                    <h1 class="display-4 text-center">Web Dev Team</h1>
                    <hr class="lightest">
                    <hr class="medium">
                    <hr class="darkest">
                </div>
            </div>

            <div class="container">
                <div class="row">
                    <div class="team-area col-12 d-flex">
                        <div class="row justify-content-center" style="width: 100%">
                            <!-- MANAGER CARD -->
                            <div class="col-xs-12 col-md-6 col-lg-4">
                                <div class="card employee-card">
                                    <div class="card-header text-center">
                                        <h2 class="card-title">Bob</h2>
                                        <h5 class="card-title"><i class="fas fa-mug-hot mr-2"></i>Manager</h5>
                                    </div>
                                    <div class="card-body">
                                        <ul class="list-group">
                                            <li class="list-group-item"><span class="info-type">ID: </span>
                                                789
                                            </li>
                                            <li class="list-group-item"><span class="info-type">Email: </span>
                                                <a href="mailto:bob@theboss.com">
                                                    bob@theboss.com
                                                </a>
                                            </li>
                                            <li class="list-group-item"><span class="info-type">Office Number: </span>
                                                8
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- ENGINEER CARD -->
                            <div class="col-xs-12 col-md-6 col-lg-4">
                                <div class="card employee-card">
                                    <div class="card-header text-center">
                                        <h2 class="card-title">Sue</h2>
                                        <h5 class="card-title"><i class="fas fa-glasses mr-2"></i>Engineer</h5>
                                    </div>
                                    <div class="card-body">
                                        <ul class="list-group">
                                            <li class="list-group-item"><span class="info-type">ID: </span>
                                                78
                                            </li>
                                            <li class="list-group-item"><span class="info-type">Email: </span>
                                                <a href="mailto:sue@engineer.com">
                                                    sue@engineer.com
                                                </a>
                                            </li>
                                            <li class="list-group-item"><span class="info-type">GitHub: </span>
                                                <a href="https://github.com/sue-alt" target="_blank"
                                                    rel="noopener noreferrer">
                                                    sue-alt
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- ENGINEER CARD -->
                            <div class="col-xs-12 col-md-6 col-lg-4">
                                <div class="card employee-card">
                                    <div class="card-header text-center">
                                        <h2 class="card-title">Tom</h2>
                                        <h5 class="card-title"><i class="fas fa-glasses mr-2"></i>Engineer</h5>
                                    </div>
                                    <div class="card-body">
                                        <ul class="list-group">
                                            <li class="list-group-item"><span class="info-type">ID: </span>
                                                456
                                            </li>
                                            <li class="list-group-item"><span class="info-type">Email: </span>
                                                <a href="mailto:tom@engineer.com">
                                                    tom@engineer.com
                                                </a>
                                            </li>
                                            <li class="list-group-item"><span class="info-type">GitHub: </span>
                                                <a href="https://github.com/tom-alt" target="_blank"
                                                    rel="noopener noreferrer">
                                                    tom-alt
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- INTERN CARD -->
                            <div class="col-xs-12 col-md-6 col-lg-4">
                                <div class="card employee-card">
                                    <div class="card-header text-center">
                                        <h2 class="card-title">Al</h2>
                                        <h5 class="card-title"><i class="fas fa-user-graduate mr-2"></i>Intern</h5>
                                    </div>
                                    <div class="card-body">
                                        <ul class="list-group">
                                            <li class="list-group-item"><span class="info-type">ID: </span>
                                                567
                                            </li>
                                            <li class="list-group-item"><span class="info-type">Email: </span>
                                                <a href="mailto:al@al.com">
                                                    al@al.com
                                                </a>
                                            </li>
                                            <li class="list-group-item"><span class="info-type">School: </span>
                                                UW
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- INTERN CARD -->
                            <div class="col-xs-12 col-md-6 col-lg-4">
                                <div class="card employee-card">
                                    <div class="card-header text-center">
                                        <h2 class="card-title">Ashely</h2>
                                        <h5 class="card-title"><i class="fas fa-user-graduate mr-2"></i>Intern</h5>
                                    </div>
                                    <div class="card-body">
                                        <ul class="list-group">
                                            <li class="list-group-item"><span class="info-type">ID: </span>
                                                234
                                            </li>
                                            <li class="list-group-item"><span class="info-type">Email: </span>
                                                <a href="mailto:ashley@ashley.com">
                                                    ashley@ashley.com
                                                </a>
                                            </li>
                                            <li class="list-group-item"><span class="info-type">School: </span>
                                                UCLA
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <footer class="page-footer font-small">
        <div class="text-center py-3 upper-footer">Generate your team profile
            <a href="https://github.com/jpreston-alt/Team-Profile-Generator" target="_blank"><button type="button"
                    class="btn btn-outline-primary here-btn">HERE!</button></a>
        </div>
        <div class="footer-copyright text-center py-3">© 2020:
            <a href="https://github.com/jpreston-alt " target="_blank">jpreston-alt <i class="fab fa-github"></i></a>
        </div>
    </footer>

</body>

</html>